<ng-select name="vehicle" 
            [items]="vehicles$ | async" 
            bindLabel="name" 
            bindValue="id" 
            [loading]="vehiclesLoading"
            typeToSearchText="Al grano, escribe el modelo primero"
            placeholder="Busca tu máquina"
            [typeahead]="vehiclesInput$"
            [(ngModel)]="vehicle">

            <!-- Add this to enable title on hover for long names -->
            <ng-template ng-option-tmp let-item="item">
                <span [title]="item.name">{{item.name}}</span>
            </ng-template>
</ng-select>