.divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
}

.line {
    flex-grow: 1;
    height: 0.5px;
    background: #dddddd;
}

.text {
    padding: 0 10px;
}

#bottom-wizard {
    border-top: none;
    padding-top: 0px;
}

.content-left{
    background-color: #0069da !important;
}

.forward{
    background-color: #007bff !important;
}
.backward:hover, .forward:hover{
    background-color: #0069d9 !important;
}

.container_radio.version_2.active, .container_radio.version_2:hover, .container_check.version_2.active, .container_check.version_2:hover{
    border-color: #0069da !important;
}

.container_radio .checkmark:after{
    background-color: #0069da !important;
}

h3.main_question{
    font-weight: 400 !important;
}